body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: url(Background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
hr {
  margin: 20px auto;
  color: black;
  border: 1.5px solid black;
  max-width: 65px;
  opacity: 1;  
}
button {
  background-color: inherit;
  color: black;
  text-transform: uppercase;
  padding: 1rem 2rem;
  /*background-color: dimgray;*/
  /*background-blend-mode: screen;*/
  border: 2px solid black;
  border-radius: 30px;
  transition: transform 1 ease;
}
button:hover {
  box-shadow: 3px 7px;
  transform: translate(-5px, -5px);
  background-color: white;
  /*color: white;*/
  border-color: white;
  /*border-width: 5px;*/
}

button:active {
  background-color: inherit;
  transform: translate(-2.5px, -2.5px);
}
h1 {
  color: black;
  text-align: center;
  text-transform: uppercase;
}

.container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*display: flex;*/
/*  top: 50%;
  left: 50%;*/
  text-align: center;
  justify-content: center;
}

.space{
  margin: 125px;
}